.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  position: relative;
  background-size: cover;
  display: inline-block;
  overflow: hidden;

}


.card::before {
  content: '';
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  border-left-color: transparent; 
  border: 140px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  opacity: 0.2;
  pointer-events: none;
  transition: all 0.3s linear;
}

.card::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  border: 120px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  pointer-events: none;
  opacity: 0.2;
  transition: all 0.3s linear;
}


.card:hover::after {
  border-top-color: #000;
  border-right-color: #000;
  opacity: 0.3;
  border-width: 220px;
}

.card:hover::before {
  border-width: 0;
  opacity: 0;
}

.card:hover .text {
  opacity: 1;
}
.infected {
  border-bottom: 10px solid #205e9b;
}

.recovered{
  border-bottom: 10px solid #63D471;

  ;
  ;


}

.deaths{
  border-bottom: 10px solid #A71D31;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}